dashboard.json
[
    {
        "id": "b7275f1abdb1e2c7",
        "type": "tab",
        "label": "Z-Alert Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e9d6db6b78ae99e8",
        "type": "serial in",
        "z": "b7275f1abdb1e2c7",
        "name": "Arduino Z-Alert",
        "serial": "COM3",
        "x": 120,
        "y": 80,
        "wires": [["23c6b01759eac217"]]
    },
    {
        "id": "23c6b01759eac217",
        "type": "json",
        "z": "b7275f1abdb1e2c7",
        "name": "JSON Z-Alert",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 340,
        "y": 80,
        "wires": [["functionSolo", "functionBotao", "functionAlerta"]]
    },
    {
        "id": "functionSolo",
        "type": "function",
        "z": "b7275f1abdb1e2c7",
        "name": "Solo",
        "func": "msg.payload = msg.payload.solo;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 60,
        "wires": [["gaugeSolo"]]
    },
    {
        "id": "gaugeSolo",
        "type": "ui_gauge",
        "z": "b7275f1abdb1e2c7",
        "name": "",
        "group": "36e3f6f9d55b37a5",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Umidade do Solo",
        "label": "Solo",
        "format": "{{value}}",
        "min": 0,
        "max": 1023,
        "colors": ["#e6e600", "#f5a623", "#d9534f"],
        "seg1": "",
        "seg2": "",
        "x": 760,
        "y": 60,
        "wires": []
    },
    {
        "id": "functionBotao",
        "type": "function",
        "z": "b7275f1abdb1e2c7",
        "name": "Botão",
        "func": "msg.payload = msg.payload.botao;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 100,
        "wires": [["gaugeBotao"]]
    },
    {
        "id": "gaugeBotao",
        "type": "ui_gauge",
        "z": "b7275f1abdb1e2c7",
        "name": "",
        "group": "36e3f6f9d55b37a5",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Botão Socorro",
        "label": "Ativo",
        "format": "{{value}}",
        "min": 0,
        "max": 1,
        "colors": ["#00bfff", "#f5a623", "#d9534f"],
        "seg1": "",
        "seg2": "",
        "x": 760,
        "y": 100,
        "wires": []
    },
    {
        "id": "functionAlerta",
        "type": "function",
        "z": "b7275f1abdb1e2c7",
        "name": "Alerta",
        "func": "msg.payload = msg.payload.alerta;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 140,
        "wires": [["textAlerta"]]
    },
    {
        "id": "textAlerta",
        "type": "ui_text",
        "z": "b7275f1abdb1e2c7",
        "group": "36e3f6f9d55b37a5",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Situação",
        "format": "<b>{{msg.payload}}</b>",
        "layout": "row-spread",
        "x": 760,
        "y": 140,
        "wires": []
    },
    {
        "id": "36e3f6f9d55b37a5",
        "type": "ui_group",
        "name": "Z-Alert Dashboard",
        "tab": "9b2fd24a473f6b55",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9b2fd24a473f6b55",
        "type": "ui_tab",
        "name": "Z-Alert",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
